{% extends 'admin/base.html.twig' %}

{% block main %}
<div class="bg-white p-8 rounded-md w-full">
	<div class=" flex items-center justify-between pb-6">
		<div>
			<h2 class="text-gray-600 font-semibold">Categories</h2>
			<span class="text-xs">Total categories : {{ categories|length }} </span>
		</div>
		<div class="flex items-center justify-between">
				<div class="lg:ml-40 ml-10 space-x-8">
					<a href="{{ path('admin_category_new')}}">
                        <button class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer"><span><i class="fa-solid fa-circle-plus"></i></span> New category</button>
                    </a>
				</div>
			</div>
		</div>
		<div>
			<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
				<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
					{% if categories %}
					<table class="min-w-full leading-normal table-auto">
						<thead>
							<tr>
								<th class="w-10 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									#
								</th>
								<th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Name
								</th>
                                <th class="w-1/6 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
									Actions
								</th>
							</tr>
						</thead>
						<tbody>
                            {% for category in categories %}
							<tr>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap font-bold">{{ loop.index + (currentPageNumber - 1) * totalElementsPerPage}}</p>
								</td>
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									<p class="text-gray-900 whitespace-no-wrap font-bold">{{ category.name }}</p>
								</td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm flex">
                                    <a href="{{ path('admin_category_edit', {'slug': category.slug}) }}">
                                        <button class="mx-1 bg-green-500 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer"><span><i class="fa-solid fa-file-pen"></i></span> Edit</button>
                                    </a>
									{% include 'category/_delete_form.html.twig' %}
                                </td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
						<!-- Paginator -->
						{% include 'admin/_paginator.html.twig' %}
						<!-- /Paginator -->
					{% else %}
					<div class="text-center py-16">
						<h1 class="font-bold break-normal text-2xl md:text-2xl">There is no category yet ! You can add some with the "New category" button !</h1>
					</div>					
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}