	<footer class="bg-gray-900">	
		<div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

			<div class="w-full mx-auto flex flex-wrap items-center">
				<div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
					<a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="{{ path('app_home') }}">
						<span class="text-base text-gray-200">Minimal Blog</span>
					</a>
				</div>
				<div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
					<ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
						<li>
							<a 
								class="inline-block py-2 px-3 text-gray-600 no-underline hover:text-gray-200" 
								href="{{ path('app_home') }}">
								HOME
							</a>
						</li>
						<li>
							<a 
								class="inline-block no-underline hover:text-gray-200 py-2 px-3 {% if route_name starts with "post_" %} text-white {% else %} text-gray-600 {% endif %}" 
								href="{{ path('post_list') }}">
								POSTS
							</a>
						</li>
						<li>
							<a 
								class="inline-block no-underline hover:text-gray-200 py-2 px-3 {% if route_name starts with "category_" %} text-white {% else %} text-gray-600 {% endif %}" 
								href="{{ path('category_list') }}">
								CATEGORIES
							</a>
						</li>
						<li>
						{% if is_granted('ROLE_ADMIN') %}
							<a 
								class="inline-block no-underline hover:text-gray-200 py-2 px-3 text-gray-600" 
								href="{{ path('admin_index') }}">
								ADMIN DASHBOARD
							</a>
						{% endif %}
						</li>
					</ul>
				</div>
			</div>
        

		
		</div>
	</footer>


<script>
	/* Progress bar */
	//Source: https://alligator.io/js/progress-bar-javascript-css-variables/
	var h = document.documentElement,
		  b = document.body,
		  st = 'scrollTop',
		  sh = 'scrollHeight',
		  progress = document.querySelector('#progress'),
		  scroll;
	var scrollpos = window.scrollY;
	var header = document.getElementById("header");

	document.addEventListener('scroll', function() {

		/*Refresh scroll % width*/
		scroll = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
		progress.style.setProperty('--scroll', scroll + '%');

		/*Apply classes for slide in bar*/
		scrollpos = window.scrollY;

    if(scrollpos > 100){
      header.classList.remove("hidden");
	  header.classList.remove("fadeOutUp");
	  header.classList.add("slideInDown");
    }
    else {
	  header.classList.remove("slideInDown");
      header.classList.add("fadeOutUp");
	  header.classList.add("hidden");
    }

	});

</script>