<div class="flex justify-center">
    {{ form_start(postForm, {'attr': {'class': 'w-full max-w-lg'}}) }}
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                {{ form_label(postForm.title, null, {
                    'label': 'Title',
                    'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2', 'for': 'title'}
                }) }}
                {{ form_widget(postForm.title, {'attr': {'class': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:bg-white focus:border-gray-500', 'placeholder': 'My new post...'}}) }}
                <div class="text-red-600">{{ form_errors(postForm.title) }}</div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                {{ form_label(postForm.category, null, {
                    'label': 'Category',
                    'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2', 'for': 'category'}
                }) }}
                {{ form_widget(postForm.category, {'attr': {'class': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:bg-white focus:border-gray-500'}}) }}
                <div class="text-red-600">{{ form_errors(postForm.category) }}</div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                {{ form_label(postForm.synopsis, null, {
                    'label': 'Synopsis',
                    'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2', 'for': 'synopsis'}
                }) }}
                {{ form_widget(postForm.synopsis, {'attr': {'class': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:bg-white focus:border-gray-500', 'placeholder': 'Aliquam et turpis aliquam...'}}) }}
                <div class="text-red-600">{{ form_errors(postForm.synopsis) }}</div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                {{ form_label(postForm.synopsis, null, {
                    'label': 'Content',
                    'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2', 'for': 'Content'}
                }) }}
                {{ form_widget(postForm.content, {'attr': {'class': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:bg-white focus:border-gray-500', 'placeholder': 'Aenean non ullamcorper metus, sit amet pellentesque erat...'}}) }}
                <div class="text-red-600">{{ form_errors(postForm.content) }}</div>
            </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <button type="submit" class="w-full shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
                    {{ buttonLabel|default('Submit') }}
                </button>
            </div>
        </div>   
    {{ form_end(postForm) }}
</div>