{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
<body class="bg-white font-sans leading-normal tracking-normal">

	<!--Nav-->
	{% include '_header.html.twig' %}
	<!--/Nav-->

	{% for message in app.flashes('success') %}
		<div class="flex justify-center mt-16">
			<div class="w-2/4 bg-green-100 border rounded border-green-500 text-green-700 px-4 py-3" role="alert">
				<p class="text-sm font-bold">{{ message }}</p>
			</div>
		</div>
	{% endfor %}
	
	<!--Title-->
	<div class="text-center pt-16 md:pt-32">
		<p class="text-sm md:text-base text-green-500 font-bold">{{ post.createdAt|date('d F Y') }} <span class="text-gray-900">/</span> {{ post.category.name }}</p>
		<h1 class="font-bold break-normal text-3xl md:text-5xl">{{ post.title }}</h1>
	</div>

	<!--image-->
	<div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded" style="background-image:url('https://source.unsplash.com/collection/1118905/'); height: 75vh;"></div>
	
	<!--Container-->
	<div class="container max-w-5xl mx-auto -mt-32">
		
		<div class="mx-0 sm:mx-6">
			
			<div class="bg-white w-full p-8 md:p-24 text-xl md:text-2xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
				<!--Post Content-->
				{{ post.content|raw }}
			</div>

			<!--Author-->
            {% include '_author.html.twig' %}
			<!--/Author-->

			<div class="border mb-24"></div>

			{% if app.user %}
			<!--Comment Form-->
			{% include 'comment/_form.html.twig' %}
			<!--/Comment Form-->
			{% else %}
			<div class="flex items-center justify-center my-24">
				<div class="rounded-xl border p-5 w-9/12 bg-white">
					<p id="comment_login" class="text-lg md:text-lg text-green-500">You need to be connected to post a comment ! <a href="{{ path('app_login') }}" class="font-bold hover:underline">Login here</a> or <a href="{{ path('app_register') }}" class="font-bold hover:underline">Join us !</a></p>
				</div>
			</div>
			{% endif %}

			<!--Comment thread-->
			<div class="pb-24">
			{% for comment in comments %}
				<div class='flex items-center justify-center pb-8'>  
					<div class="rounded-xl border p-5 shadow-md w-9/12 bg-white">
						<div class="flex justify-between border-b pb-3">
							<div class="flex items-center space-x-3">
							<img class="h-8 w-8 rounded-full bg-slate-400" src="https://i.pravatar.cc/32?img={{loop.index}}">
								<div class="text-lg font-bold text-slate-700">{{ comment.author.username }}</div>
								{% if "ROLE_ADMIN" in comment.author.roles %}
									<button class="rounded-2xl border bg-green-200 px-3 py-1 text-xs font-semibold cursor-auto">Author</button>
								{% endif %}
							</div>

							<div class="flex items-center justify-between">
								<div class="flex items-center space-x-4">
									{% if comment.isEdited %}
										<button class="rounded-2xl border bg-gray-200 px-3 py-1 text-xs font-semibold cursor-auto">Edited</button>
									{% endif %}
									<div class="text-sm text-neutral-500">{{comment.createdAt|ago }}</div>
								</div>
							</div>
						</div>
						<div class="mt-4 mb-6">
							<div class="text-md text-neutral-600">{{ comment.content }}</div>
						</div>
						<div>
							<div class="flex items-center justify-between text-slate-500">
								<div class="pb-2"></div>
								<div class="flex items-center">
									<div class="w-full md:w-full flex items-start md:w-full">
										<div class="mr-2">
										{% if is_granted('EDIT', comment) %}
											<a href="{{ path('comment_edit', {id: comment.id}) }}">
												<button class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100">
													Edit
												</button>
											</a>
										{% endif %}
										</div>
										<div>
										{% if is_granted('DELETE', comment) %}
											{% include 'comment/_delete_form.html.twig' %}
										{% endif %}
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			<!--/Comment Thread-->

			<!--Newsletter-->	
			{% include '_newsletter.html.twig' %}
			<!-- /Newsletter-->
		</div>
	</div>

	<!--Footer-->
	{% include '_footer.html.twig' %}
	<!--/Footer-->

</body>
{% endblock %}